<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <add key="FaceApiEndpoint" value="YOUR-KEY-HERE"/>
  <add key="FaceApiKey" value="YOUR-KEY-HERE"/>
  <add key="AccountSid" value="YOUR-KEY-HERE"/>
  <add key="TwilioAuthToken" value="YOUR-KEY-HERE"/>  
</appSettings>
</configuration>
