<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <add key="FaceApiEndpoint" value="https://westeurope.api.cognitive.microsoft.com/face/v1.0/detect"/>
  <add key="FaceApiKey" value="71fe2785be384ababd0b0eb33ab61e61"/>
  <add key="AccountSid" value="AC70d29b3a0278e7850693f4f3dac98cf5"/>
  <add key="TwilioAuthToken" value="51b68b4010ff552bc4357c2ac2e995b8"/>  
</appSettings>
</configuration>
